/********Base styles ********/

* {
	box-sizing: border-box;
	
}

body {
	font-family: "Century Gothic", Helvetica, sans-serif;
	
}

h2 {
	background-color: yellow;
	
}

p {

}

div {
	overflow: auto;
}

.row {

}

.container {
	width: 100%;
}

.column {
	width: 50%;
	float: left;
	padding: 10px;
}
.infobox {
	float: right; 
	/*margin-right: 50px;*/
	width: 300px;
}
