:root {
    --text-20-font-family: "Roboto", Helvetica;
    --text-20-font-weight: 500;
    --text-20-font-size: 20px;
    --text-20-letter-spacing: 0px;
    --text-20-line-height: normal;
    --text-20-font-style: normal;
    --text-24-font-family: "Roboto", Helvetica;
    --text-24-font-weight: 500;
    --text-24-font-size: 24px;
    --text-24-letter-spacing: 0px;
    --text-24-line-height: normal;
    --text-24-font-style: normal;
    --text-16-font-family: "Roboto", Helvetica;
    --text-16-font-weight: 500;
    --text-16-font-size: 16px;
    --text-16-letter-spacing: 0px;
    --text-16-line-height: normal;
    --text-16-font-style: normal;
    --color-brand-primary: #007a32;
    --color-brand-secondary: #e7fff1;
    --color-text-primary: #1e1e1e;
    --color-text-invert: #fbfbfb;

  }
  