<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Progression</h1>
      <form action="/add-skill" method="POST">
        <h3>Adding skill</h3>
        <p>Add a skill. This is a real-world skill that you (the player) can work on while your game character is travelling or slaying dragons.</p>
        <p><label for="skillname">Name of skill (eg Piano):</label>
        <input type="text" id="skillname" name="skillname" required></p>
        <p><label for="minutes">How many hours have you already done? (Estimates acceptable!)</label>
        <input type="text" id="minutes" name="minutes" required></p>

        <input type="submit" value="Add skill"></p>
      </form>
  </body>
</html>
