<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Progression</h1>
    <h3>Categories</h3>
    {% for k,v in categories.items() %}
      <p>{{ v }}</p>
      {% for key, value in skills.items() %}
        {% if value.categoryId == k %}
          <li>{{ value.name }}: {{value.minutes/60}} hours</li>
        {% endif %}

      {% endfor %}
    {% endfor %}
    <p>
      <a href="add-skill">Create a new skill</a>
    </p>
  </body>
</html>
