<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="http://localhost:5000/result" method="post">
      <p>Name <input type="text" name="Name" value=""></p>
      <p>Physics <input type="text" name="Physics" value=""></p>
      <p>Chemistry <input type="text" name="Chemistry" value=""></p>
      <p>Maths <input type="text" name="Maths" value=""></p>
      <p><input type="submit" value="Submit"></p>

    </form>
  </body>
</html>
